body {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  
  header {
    padding: 10px;
  }
  
  .logo {
    max-width:10%;
    padding-left: 12px
  }
  
  main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .image-container {
    display: flex;
    max-width: 50%;
    text-align: left;
    font-family: "Raleway";
    font-size: 30px;
    margin-right: 30z0px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  nav {
    margin-left: 20px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    margin-bottom: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  